<script type="text/javascript">
$(document).ready(function(){
	$("#resultadoCultura").click(function(){
		$(".resultados").slideToggle();
		$("#resultadoCultura").toggleClass("less-options");
	});
});
</script>

<div class="row mar-bot40" ng-controller="CulturaResultadoController as cultura">
	<div class="col-offset-1 col-md-11 resultados-container">
		<h4 id="resultadoCultura" class="more-options">Trabalhos aprovados</h4>
		<div class="resultados">
			<br/>
			<h4 class="red-bg color-white resultados-container">Full Papers</h4>

<table class="table table-striped">
	<thead>
	  <tr>
	  	<th>Seq.</th>
	    <th>Paper</th>
	    <th>Título</th>
	    <th>Autor(es)</th>
	  </tr>
	</thead>
	<tbody>
		<tr ng-repeat="r in cultura.resultados.fullpapers">
			<td width="6%">{{r.seq}}</td>
			<td width="10%">{{r.paper}}</td>
			<td>{{r.title}}</td>
			<td width="40%">{{r.authors}}</td>
		</tr>
	</tbody>  
</table>


	<h4 class="red-bg color-white resultados-container">Short Papers</h4>

<table class="table table-striped">
	<thead>
	  <tr>
	  	<th>Seq.</th>
	    <th>Paper</th>
	    <th>Título</th>
	    <th>Autor(es)</th>
	  </tr>
	</thead>
	<tbody>
		<tr ng-repeat="r in cultura.resultados.shortpapers">
			<td width="6%">{{r.seq}}</td>
			<td width="10%">{{r.paper}}</td>
			<td>{{r.title}}</td>
			<td width="40%">{{r.authors}}</td>
		</tr>
	</tbody>  
</table>


		</div>
	</div>
</div>